In [43]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import numpy as np

In [2]:
#first dataset
dataset1 = pd.DataFrame(dict(
    u = np.round(np.random.rand(5), 2),
    v = np.round(np.random.randn(5), 2),
    w = ['spam', 'bacon', 'beans', 'eggs', 'sausage'],
    x = [True, False, True, False, True]
))#.set_index("w")

In [3]:
#most used syntax for connecting to postgresql
DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASS = "almno"
DB_HOST = "localhost"
DB_PORT = "5432"
 
try:
    conn = psycopg2.connect(database=DB_NAME,
                            user=DB_USER,
                            password=DB_PASS,
                            host=DB_HOST,
                            port=DB_PORT)
    print("Database connected successfully")
except:
    print("Database not connected successfully")

Database connected successfully

In [18]:
#function for connecting to postgresql

def postgres_cursor(dbname,dbuser,dbpass,dbhost,dbport):
    
    DB_NAME = dbname
    DB_USER = dbuser
    DB_PASS = dbpass
    DB_HOST = dbhost
    DB_PORT = dbport
    
    try:
        conn = psycopg2.connect(database=DB_NAME,
                                user=DB_USER,
                                password=DB_PASS,
                                host=DB_HOST,
                                port=DB_PORT)
        print("Database connected successfully")
        print('Cursor object created')
        return conn.cursor()
    except:
        print("Database not connected successfully")

In [56]:
conn = postgres_connect('postgres','postgres','almno','localhost','5432')
cur =conn.cursor()

 
# executing queries to create table
cur.execute("""
DROP TABLE esempio_google;

CREATE TABLE IF NOT EXISTS esempio_google
(
    App TEXT PRIMARY KEY NOT NULL,
    Category TEXT NOT NULL,
    Rating INTEGER NOT NULL,
    Reviews INTEGER NOT NULL,
    Size INTEGER NOT NULL,
    Installs INTEGER NOT NULL,
    Type TEXT NOT NULL,
    Price FLOAT NOT NULL,
    Content_Rating TEXT NOT NULL,
    Genres TEXT NOT NULL,
    Last_Update TEXT NOT NULL
)
""")


# commit the changes
conn.commit()
print("Table Created successfully")

Database connected successfully
Table Created successfully

In [59]:
conn = postgres_connect('postgres','postgres','almno','localhost','5432')
engine = create_engine('postgresql://postgres:almno@localhost:5432/postgres')

df2.to_sql('esempio_google', con=engine, if_exists='replace', index=False)

Database connected successfully

659

In [60]:
reviews = pd.read_pickle('google_reviews.pkl')

In [99]:
reviews = reviews.rename(columns={'App':'app','Translated_Review':'translated_review'})
reviews=reviews.dropna()
reviews['translated_review'] = reviews['translated_review'].astype(str)
reviews.info()
reviews=reviews.dropna()
reviews

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37427 entries, 0 to 37426
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   app                37427 non-null  object
 1   translated_review  37427 non-null  object
dtypes: object(2)
memory usage: 584.9+ KB

                                  app      translated_review
0               10 Best Foods for You         like delicious
1               10 Best Foods for You                healthy
2               10 Best Foods for You                  great
3               10 Best Foods for You
4               10 Best Foods for You
...                               ...                    ...
37422  Housing-Real Estate & Property                  wrong
37423  Housing-Real Estate & Property          issue improve
37424  Housing-Real Estate & Property
37425  Housing-Real Estate & Property                  happy
37426  Housing-Real Estate & Property  reachable unavailable

[37427 rows x 2 columns]

In [78]:
df2= pd.read_pickle('googleplaystore_cleaned.pkl')
df2= df2.dropna(subset='Type')
df2=df2.rename(columns={'App': 'app','Category':'category','Rating':'rating','Reviews':'reviews','Size':'size','Installs':'installs','Type':'type','Price':'price','Content Rating':'content_rating','Genres':'genres','Last Updated':'last_update'})

In [79]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9659 entries, 0 to 10840
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             9659 non-null   object
 1   category        9659 non-null   object
 2   rating          9659 non-null   float64
 3   reviews         9659 non-null   float64
 4   size            9659 non-null   float64
 5   installs        9659 non-null   int64
 6   type            9659 non-null   object
 7   price           9659 non-null   float64
 8   content_rating  9659 non-null   object
 9   genres          9659 non-null   object
 10  last_update     9659 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 905.5+ KB