In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Alessio\Desktop\Progetti Team 1\develhope_2023_team1\progetto_2\database\googleplaystore.csv')
# Row totally mistaken, dropping row 10472

In [8]:
df['Installs'].describe()

count          10841
unique            22
top       1,000,000+
freq            1579
Name: Installs, dtype: object

In [11]:
df.Rating.describe()

count    9367.000000
mean        4.193338
std         0.537431
min         1.000000
25%         4.000000
50%         4.300000
75%         4.500000
max        19.000000
Name: Rating, dtype: float64

In [13]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [3]:
df = df.assign(Installs = pd.to_numeric(df['Installs'].str.replace('[^0-9.]', '',regex=True)))
# delete string from size, changing M to 000000, changing k to 000, assign median to empty values
df.loc[df["Size"] == "Varies with device", "Size"] = ''
df.Size = df.Size.str.replace('M','000000',regex=True)
df.Size = df.Size.str.replace('k','000',regex=True)
df = df.assign(Size = pd.to_numeric(df['Size'].str.replace('[^0-9.]', '',regex=True)))
df = df.assign(Price = pd.to_numeric(df['Price'].str.replace('[^0-9.]', '',regex=True)))

In [8]:
df2.groupby(by='Installs').count()

,App,Category,Rating,Reviews,Size,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Installs,,,,,,,,,,,,
0.000000e+00,15,15,0,15,14,14,15,15,15,15,15,15
1.000000e+00,67,67,3,67,64,67,67,67,67,67,67,67
5.000000e+00,82,82,9,82,78,82,82,82,82,82,82,82
1.000000e+01,386,386,69,386,376,386,386,386,386,386,385,386
5.000000e+01,205,205,56,205,201,205,205,205,205,205,205,205
1.000000e+02,719,719,309,719,702,719,719,719,719,719,718,719
5.000000e+02,330,330,201,330,322,330,330,330,330,330,330,330
1.000000e+03,907,907,713,907,873,907,907,907,907,907,906,906
5.000000e+03,477,477,432,477,461,477,477,477,477,477,476,477
1.000000e+04,1054,1054,1010,1054,1011,1054,1054,1054,1054,1054,1053,1053
5.000000e+04,479,479,467,479,446,479,479,479,479,479,478,479
1.000000e+05,1169,1169,1150,1169,1054,1169,1169,1169,1169,1169,1169,1169
5.000000e+05,539,539,538,539,492,539,539,539,539,539,538,539
1.000000e+06,1579,1579,1577,1579,1303,1579,1579,1579,1579,1579,1578,1579
5.000000e+06,752,752,752,752,535,752,752,752,752,752,752,752
1.000000e+07,1252,1252,1252,1252,825,1252,1252,1252,1252,1252,1252,1252
5.000000e+07,289,289,289,289,147,289,289,289,289,289,289,289
1.000000e+08,409,409,409,409,201,409,409,409,409,409,409,409
5.000000e+08,72,72,72,72,30,72,72,72,72,72,72,72
1.000000e+09,58,58,58,58,10,58,58,58,58,58,58,58

In [4]:
df2 = df.sort_values(['Installs','Rating'],ascending=[False,False])

# controllo quante sono le app con il valore massimo di download

#topapps = df2.head()[ [df2['Installs'] == max(df2['Installs'])] ]
#print('')
#print('Le app più scaricate sono: ' + str(len(topapps[0])))
#print('')

In [31]:
categorical = df.dtypes[df.dtypes== 'object'].index
df[categorical].describe()

,App,Category,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,596,1695,1579,10039,10040,8714,842,326,1459,2451

In [7]:
df3 = df2.drop_duplicates(
  subset = ['App'],
  keep = 'first').reset_index(drop = True)

In [8]:
df3

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Subway Surfers,GAME,4.5,27722264,76000000.0,1.000000e+09,Free,0.00,Everyone 10+,Arcade,"July 12, 2018",1.90.0,4.1 and up
1,Instagram,SOCIAL,4.5,66577313,NaN,1.000000e+09,Free,0.00,Teen,Social,"July 31, 2018",Varies with device,Varies with device
2,Google Photos,PHOTOGRAPHY,4.5,10858556,NaN,1.000000e+09,Free,0.00,Everyone,Photography,"August 6, 2018",Varies with device,Varies with device
3,WhatsApp Messenger,COMMUNICATION,4.4,69119316,NaN,1.000000e+09,Free,0.00,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
4,Google,TOOLS,4.4,8033493,NaN,1.000000e+09,Free,0.00,Everyone,Tools,"August 3, 2018",Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9655,EP Cook Book,MEDICAL,NaN,0,3.2,0.000000e+00,Paid,200.00,Everyone,Medical,"July 26, 2015",1.0,3.0 and up
9656,Eu sou Rico,FINANCE,NaN,0,2.6,0.000000e+00,Paid,30.99,Everyone,Finance,"January 9, 2018",1.0,4.0 and up
9657,Eu Sou Rico,FINANCE,NaN,0,1.4,0.000000e+00,Paid,394.99,Everyone,Finance,"July 11, 2018",1.0,4.0.3 and up
9658,I'm Rich/Eu sou Rico/أنا غني/我很有錢,LIFESTYLE,NaN,0,40000000.0,0.000000e+00,Paid,399.99,Everyone,Lifestyle,"December 1, 2017",MONEY,4.1 and up
9659,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,1000.0,NaN,0,NaN,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [ ]:
# Cleaning steps: trasformare variabili object in numeriche dove possibile

### Cleaning Reviews variable
STEP DA FARE QUI


### Cleaning Rating 
una con 1


### Price 
def remove_dollars(x):
    mi trova il simbolo dollaro
    me lo leva
    return numero senza dollaro
    
df.Price.apply(lambda x: remove_dollars(x)).apply(lambda x: float(x))

In [35]:
class Preprocessing:
    
    def __init__(self):
        pass
    
    def remove_dollars(self, x):
        mi trova il simbolo dollaro
        me lo leva
        return numero senza dollaro
    
    def convert_price_to_numeric(self, df):
        # solo alla colonna prezzo
        df.Price.apply(lambda x: self.remove_dollars(x)).apply(lambda x: float(x))
        return df

SyntaxError: invalid syntax (3931450640.py, line 7)

In [ ]:
pp = Preprocessing()

df = read_csv(...)

# cleaning di price
df_cleaned = pp.convert_price_to_numeric(df)

# cleaning di ratings
df_cleaned_2 = pp.clean_ratings(df_cleaned)

In [18]:
topapps

(array([ 342,  347,  371,  378,  383,  385,  403,  420,  431,  465,  467,
         474, 1655, 1661, 1662, 1702, 1705, 1722, 1729, 1751, 1759, 1842,
        1869, 1885, 1886, 1908, 1920, 1966, 2546, 2550, 2603, 2610, 3235,
        3255, 3265, 3326, 3450, 3473, 3476, 3522, 3533, 3562, 3569, 3574,
        3703, 3711, 3739, 3755, 3767, 3796, 3819, 3870, 3879, 3888, 3907,
        3934, 3971, 3994, 4005, 4039, 4041, 4048, 4105, 4115, 4122, 4147,
        4222, 4365, 4566, 4676, 5596, 7536], dtype=int64),)

In [35]:
df_rev = pd.read_csv(r'C:\Users\Alessio\Desktop\Progetti Team 1\develhope_2023_team1\progetto_2\database\googleplaystore_user_reviews.csv')

In [42]:
my_df = df_rev [ df_rev['App'].str.contains('instagram')]

In [44]:
df_rev

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN